header{
    height: 60px;
    background: #1a1a1a;
    padding: 0 15% 0 15%;
    justify-content: space-between;
}
 
.nav{
    display: flex;
    
} 

.logo{
    padding: 0;
    width: 50%;
  
}

.logo img{
    display: flex;
    height: 28px;
    width: 150px;
    align-items: center;
    margin-top: 16px;
    margin-bottom: 16px;
}

.links{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

nav ul{
    display: flex;
    list-style: none;
}

nav a{
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    text-decoration: none;
    color: white;
    text-align: center;
    display: block;
}



.main{
    background-image: url(main.jpg);
    height: calc(100vh - 50px);
    min-height: 800px;
    overflow-x: auto;
    background-size: cover;
    background-position: center;
}

.main form{
    display: flex;
    height: 295px;
    width: 350px;
    background-color: #fafafa;
    justify-content: center;
    border-radius: 6px;
    border: 1px solid #ccc;
}

.footer{
    left: 0;
    width: 100%;
    bottom: 0;
    display: flex;
    padding: 60px 0;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    background-color: #EFEFEF;
}

.footer ul li{
    list-style: none;
    display: inline-block

}