header{
    height: 60px;
    background: #1a1a1a;
    display: flex;
    justify-content: space-between;
}
 body{
    font: 400 14px Open Sans,Helvetica Neue,Helvetica,Arial,sans-serif;
 }

.menu{
    display: flex;
    width: 100%;
}


.logo{
    display: flex;
    justify-content: center;
    margin-right: 19%;
    padding: 0;
    width: 50%;
  
}

.logo img{
    display: flex;
    height: 24px;
    width: 142px;
    align-items: center;
    margin-top: 18px;
    margin-bottom: 14px;
}

.links{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 19%;
    margin-bottom: 2px;
    width: 50%;
    
}

.menu ul{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 50%;
    list-style: none;
}

.menu a{
    display: flex;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    letter-spacing: 0px;
    text-decoration: none;
    color: white;
    text-align: center;
    justify-content: space-between;


} 

.btn{
    background-color: #1976d2;
    color: #fff;
    font-size: 14px;
    height: 33px;
    padding: 0 20px;
    margin: 0;
    cursor: pointer;
    border: none;
    transition: 200ms;
    border-radius: 4px;
}

.btn:hover{
    background-color: #1265c2;
}

.btn:active{
    border: #fff;
    border-width: 2px;
}



.main{
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(main.jpg);
    height: 100vh;
    min-height: 800px;
    background-size: cover;
    background-position: center;
}

.login{
    display: flex;
    /* line-height: 33px; */
    font-weight: 300;
    font-size: 32px;
    margin-top: 5px;
    margin-bottom: 15px;
}

.form{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 9px;
    border: 1px solid #ccc;
    border-radius: 6px;
    height: 295px;
    width: 350px;
    margin-bottom: 12%;
    background-color: #fafafa;
    font-size: 14px;
    font-weight: 400;
} 

.email label{
    display: flex;
    font-weight: bolder;
}

.password label{
    margin-bottom: 200px;
}

.input{
    height: 32px;
    width: 336px;
    background: #fff;
    border: 1px solid #bbb;
    border-radius: 5px;
    box-shadow: inset 0 3px #eee;
    margin-bottom: 8px;
    margin-top: 5px;

}

.input:active{
    border-width: 2px;
    border-color: #1265c2;;
}
.main a{
    color: #1976d2;
    font-weight: 400px;
}

.main a:hover{
    text-decoration: none;
    
}

.main button{
    height: 32px;
    width: 74.53;
    padding: 5px 14px;
    border: none;
    color: #fff;
    border-radius: 4px;
    background-color: #1976d2;
    margin-bottom: 2px;
    font-weight: 400;
    font-size: 14px;
}

.main button:hover{
    background-color: #1265c2;
}

.main button:active{
    border: #fff;
    border-width: 2px;
}


.footer{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 178px;
    width: 100%;
    bottom: 0;
    padding: 60px 0;
    /* text-align: center;
    flex-direction: column;
    justify-content: center; */
    background-color: #EFEFEF;
}

.btn-tracking button{
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 200;
    font-size: 18px;
    height: 44px;
    width: 216.17px;
    padding: 10px;
    border-color: #555555;
    border-style: solid;
    border-width: 1px;
    border-radius: 3px; 
    cursor: pointer;
}


.additionals{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.finlinks ul {
    list-style: none;
    display: flex;
}

.finlinks{
    display: flex;
    width: 50%;
    justify-content: flex-end;
    align-items: center;
}

.finlinks a{
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: inherit;
}



.copyrights{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 50%;
    color: #6c6c6c;
    
    
}

.social{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.social img{
height: 24px;
width: 24px;
color: #6c6c6c;
}

.cookies{
    display: flex;
    width: 100%;
}

.cookies a{
    text-decoration: none;
    display: flex;
    color: inherit;
}




/* a, a:active, a:hover, a:visited {
    text-decoration: none;
    color: inherit;
} */

/* .btn-tracking li:not(:first-of-type)::before{
    width: 5px;
    height: 5px;
    margin: 0 10px 3px 10px;
    content: "";
    display: inline-block;
    border-radius: 50%;
    background-color: #6c6c6c; */