body {
  font: 400 14px Open Sans, Helvetica Neue, Helvetica, Arial, sans-serif;
}

header {
  height: 60px;
  background: #1a1a1a;
  display: flex;
  justify-content: space-between;
  padding: 0 15% 0 15%;
}

.menu {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.logo {
  padding: 0;
  width: 150px;
}

.logo img {
  display: flex;
  height: 24px;
  width: 142px;
  align-items: center;
  margin-top: 18px;
}

.links {
  display: inline-block;
  padding-top: 12px;
}

#menuCheckbox {
  display: none;
}

.hamburgerIcon {
  display: none;
  font-size: 2rem;
  color: white;
}

.menu ul {
  display: flex;
  align-items: center;
  width: 50%;
  list-style: none;
}

.menu a {
  font-size: 14px;
  letter-spacing: 0px;
  text-decoration: none;
  color: white;
  justify-content: space-between;
  margin-right: 25px;
  white-space: nowrap;
}

.btn {
  background-color: #1976d2;
  color: #fff;
  font-size: 14px;
  height: 33px;
  padding: 0 20px;
  margin: 0;
  cursor: pointer;
  border: none;
  transition: 200ms;
  border-radius: 4px;
  white-space: nowrap;
  margin-right: 25px;
}

.btn:hover {
  background-color: #1265c2;
}

.btn:active {
  border: #fff;
  border-width: 2px;
}

.main {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(/img/main.jpg);
  min-height: 800px;
  height: 100vh;
  background-size: cover;
  background-position: center;
}

.login {
  display: flex;
  font-weight: 300;
  font-size: 32px;
  margin-top: 0px;
  margin-bottom: 15px;
}

.form {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding: 9px;
  border: 1px solid #ccc;
  border-radius: 6px;
  height: 295px;
  width: 350px;
  margin-bottom: 12%;
  background-color: #fafafa;
  font-size: 14px;
  font-weight: 900;
}

.email label {
  display: flex;
  font-weight: 900;
}

.password label {
  margin-bottom: 200px;
}

.input {
  height: 32px;
  width: 336px;
  background: #fff;
  border: 1px solid #bbb;
  border-radius: 5px;

  box-shadow: inset 0 3px #eee;
  margin-bottom: 8px;
  margin-top: 5px;
}

.input:active {
  border-width: 1px;
  border-color: #1265c2;
}
.main a {
  color: #1976d2;
  font-weight: 900px;
}

.main a:hover {
  text-decoration: none;
}

.main button {
  height: 32px;
  width: 74.53;
  padding: 5px 14px;
  border: none;
  color: #fff;
  border-radius: 4px;
  background-color: #1976d2;
  margin-bottom: 2px;
  font-weight: 400;
  font-size: 14px;
}

.main button:hover {
  background-color: #1265c2;
}

.main button:active {
  border: #fff;
  border-width: 2px;
}

.formBottom {
  margin-bottom: 20px;
}

.footer {
  display: flex;
  height: 178px;
  width: 100%;
  padding: 50px 0;
  background-color: #efefef;
  align-items: stretch;
  flex-direction: column;
}

.btnTracking {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.btnTracking button {
  display: block;
  justify-content: center;
  align-items: center;
  background-color: #efefef;
  font-weight: 200;
  font-size: 18px;
  font-family: "Open Sans", sans-serif;
  height: auto;
  padding: 10px;
  border-color: #555555;
  border-style: solid;
  border-width: 1px;
  border-radius: 3px;
  cursor: pointer;
  margin-bottom: 30px;
}

.additionals {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}

.footerLinks {
  display: inline-block;
  width: 50%;
}

.footerLinks ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin-right: 15px;
}

.footerLinks ul li {
  margin-left: 2px;
}

.footerLinks a {
  text-decoration: none;
  color: inherit;
  font-size: 13px;
  font-weight: 1000px;
  width: 50%;
}

.footerLinks li:not(:first-of-type)::before {
  width: 5px;
  height: 5px;
  margin: 0 10px 3px 10px;
  content: "";
  display: inline-block;
  border-radius: 50%;
  background-color: #6c6c6c;
}

.copyright {
  display: block;
  width: 50%;
  color: #6c6c6c;
}

.social {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.social img {
  margin-left: 15px;
  margin-right: 15px;
}

.social img {
  height: 24px;
  width: 24px;
  color: #6c6c6c;
}

.cookies {
  display: flex;
  justify-content: center;
  width: 100%;
}

.cookies a {
  text-decoration: none;
  display: flex;
  color: inherit;
  margin-top: 10px;
}

@media screen and (max-width: 767px) {
  header {
    height: 60px;
    background: #1a1a1a;
    display: flex;
    flex-flow: wrap;
    justify-content: space-between;
    margin: 0;
    padding: 0;
  }

  .hamburgerIcon {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    margin-top: 5px;
    margin-right: 25px;
  }

  #menuCheckbox:checked ~ ul {
    max-height: 100vh;
    background-color: #1a1a1a;
  }

  .hamburgerIcon i {
    font-size: 1.7em;
  }

  .links ul {
    display: block;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s;
    width: 100%;
  }

  .links ul a {
    text-align: left;
    width: 100%;
    height: 100vh;
    background: #1a1a1a;
    padding: 10px 0px 10px 30px;
  }

  .logo img {
    display: flex;
    height: 24px;
    width: 142px;
    align-items: center;
    margin-top: 20px;
    margin-left: 25px;
  }

  .main {
    background-image: url(/img/mainSmall.jpg);
  }

  .form {
    margin-bottom: 150px;
  }

  .footer {
    height: 278px;
    padding: 50px 0 0 0;
  }

  .additionals {
    flex-direction: column;
    align-items: center;
  }

  .footerLinks {
    width: 90%;
  }

  .copyright {
    display: flex;
    justify-content: center;
    width: 100%;
  }
  .copyright p {
    margin-top: 25px;
  }

  .social {
    /* margin-bottom: 50px; */
  }
}
