body{
    font-family: 'Segoe UI', Helvetica, sans-serif;
    background-color: #fff;
    color: #242428;
    font-size: 14px;
    line-height: 1.45;
}

.view{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
    box-sizing: border-box;
}

.header{
    display: block;
    background-color: #fff;
    /* border-bottom: #f0f0f5; */
    border-bottom: black;
    text-align: center;
    box-sizing: border-box;
    font-family: 'Segoe UI', Helvetica, sans-serif;;
}

.header-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 55px;
    width: 1216px;
    margin-right: auto;
    margin-left: auto;
    padding-left: 16px;
    padding-right: 16px;
}



.logo{
    display: block;
    margin-top: 8px;

   
}


.nav{
    display: block;
    width: 1121px;
    text-align: right;
    box-sizing: border-box;

}

.btn-login{
    display: inline-flex; 
    border: 1px solid transparent;
    border-radius: 4px;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    align-items: center;
    text-decoration: none;
    box-sizing: border-box;
    font-size: 14px;
    font-weight: 700;
    color: #242428;
    padding: 6px 16px;
    background-color: #fff;
    border-color: #dfdfe8;
}

.btn-login:hover{
    background-color: #f2f2f2;
}

.btn-login:active{
    border: #fff;
    border-width: 2px;
}